.user_one {
    margin-top: 20%;
    float: left;
    margin-left: 20%;
}

.user_two {
    margin-top: 20%;
    float: left;
}

.predict_your {
    margin: auto;
    opacity: 0.5;
}

.predict_user {
    margin: auto;
    opacity: 0.5;
}

#container {
    overflow-y: auto;
float: left;
    margin-left: auto;
    margin-right: auto;

    /*display: unset;*/
    /*white-space: nowrap;*/
    width: 400px;
    height: 250px;
    /*text-align: center;*/
    word-break: break-all;
    background: antiquewhite;
}