<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<div class="messenger">
    <h3 class="tittle">Welcome to basic chat word prediction </h3>
    <h4 class="tittle">To send message as 'user one' press 'lctrl' + 'end', to send message
        as 'user two' press 'lshisft' + 'end'</h4>

    <main id="container" class="chat">
    </main>
    <section class="input-area">

        <section class="user user_one">
            <h5 class="user__name">User one</h5>
            <textarea class="user__text user__text_one" name="helper_your"></textarea>
            <div class="user__prediction_one"></div>

        </section>


        <section class="user user_two">
            <h5 class="user__name">User two</h5>
            <textarea id='predict_user' class="user__text user__text_two" name="helper_user"></textarea>
            <div class="user__prediction_two"></div>

        </section>
    </section>
</div>
<script src="../static/index.js"></script>
</body>
</html>