<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<div class="messenger">

    <section class="user_one">
        <textarea id='predict_your' class="word_your" name="helper_your"></textarea>
        <div class="predict_your"></div>

    </section>


    <main id="container">
    </main>

    <section class="user_two">
        <textarea id='predict_user' class="word_user" name="helper_user"></textarea>
        <div class="predict_user"></div>

    </section>
</div>
<script src="../static/index.js"></script>
</body>
</html>